.gottih-page-contaiiner {
	width: calc(100% - var(--width-nav));
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: var(--width-nav);
	color: rgb(26, 26, 26);
	position: relative;
}

.gottih-page-contaiiner h1 {
	font-size: 10em;
}
.gottih-page-contaiiner span {
	font-size: 1.5em;
}
.gottih-page-contaiiner p {
	text-align: center;
}

.gottih-parrafo {
	margin-top: 30px;
	width: 50%;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.margin {
	margin-top: 100px;
}

.img-hero-gottih {
	width: 100%;
}

.img-hero-gottih img {
	width: 100%;
}

.img-web-gottih {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}
.macbook {
	width: 50%;
}

.pagos-img {
	width: 15%;
	position: absolute;
	-webkit-animation: bounce-follower 2.5s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-delay: 0.5s;
	transform: translate(90%, 0px);
}

.logo-gottih-ac {
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-gottih-ac img {
	width: 30%;
	pointer-events: none;
}

.contenedor-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width: 100%;
}

.contenedor-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.color-btn {
	background: linear-gradient(to right, #434343 0%, black 100%);
	color: white;
	font-weight: bold;
	width: 200px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	margin-top: 20px;
	transition: all 0.1s;
	border: none;
	outline: none;
	cursor: pointer;
}

.color-btn:hover {
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
	.gottih-page-contaiiner {
		padding-top: 80px;
	}
	.gottih-page-contaiiner h1 {
		font-size: 6.5em;
	}
	.gottih-page-contaiiner span {
		font-size: 1.2em;
	}
	.gottih-parrafo {
		width: 80%;
		margin-bottom: 50px;
	}

	.margin {
		margin-top: 50px;
	}
	.logo-gottih-ac {
		height: 40vh;
	}
	.macbook {
		width: 70%;
	}
	.pagos-img {
		width: 20%;
	}
}

@-webkit-keyframes bounce-follower {
	0% {
		transform: translate(90%, 0px);
	}
	50% {
		transform: translate(90%, 20px);
	}
	100% {
		transform: translate(90%, 0px);
	}
}
