* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.Hero {
	display: flex;
	height: 100vh;
}

.barra-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5%;
	background: rgba(30, 30, 30, 0.8);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	z-index: 50;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
}

.logo {
	width: 50%;
}

.bandera {
	width: 30%;
}

.info-hero {
	width: 65%;
	background-image: url('/img/hero.jpg');
	padding-left: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
	position: relative;
	overflow: hidden;
	color: white;
}

.texto-hero {
	padding-top: 125px;
}

.services-video {
	width: 35%;
	background: #1e1e1e;
}

.hero-title {
	font-size: 3em;
	color: white;
	font-weight: bold;
	padding-top: 100px;
}

.hero-effect {
	display: block;
	position: absolute;
	color: transparent;
	font-size: 6.5em;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
}

.abstract-effect {
	right: -160px;
	bottom: 218px;
}

.code-effect {
	top: 85px;
	right: -115px;
}
