#hamburger-icon {
	width: 2em;
	height: 1.5em;
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
#hamburger-icon .line {
	display: block;
	background: #666;
	width: 2em;
	height: 0.06em;
	position: absolute;
	left: 0;
	border-radius: 0.025em;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
	top: 0;
}
#hamburger-icon .line.line-2 {
	top: 50%;
}
#hamburger-icon .line.line-3 {
	top: 100%;
}
#hamburger-icon:hover .line,
#hamburger-icon:focus .line {
	background: #fff;
}
#hamburger-icon.active .line-1 {
	transform: translateY(0.75em) translateX(0) rotate(45deg);
	-webkit-transform: translateY(0.75em) translateX(0) rotate(45deg);
	-moz-transform: translateY(0.75em) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
	opacity: 0;
}
#hamburger-icon.active .line-3 {
	transform: translateY(-0.75em) translateX(0) rotate(-45deg);
	-webkit-transform: translateY(-0.75em) translateX(0) rotate(-45deg);
	-moz-transform: translateY(-0.75em) translateX(0) rotate(-45deg);
}
